body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.admin {
    width: 48%;
    height: 100px;
    border: solid 1px;
    float: left;

}

.header {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background: black;
}

.menu {
    width: 95%;
    margin: 0 auto;
}

.menu ul{
    margin: 0 auto;
}

.menu li {
    margin-top: 0;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    list-style: none;
}

.menu ul li a {
    display: block;
    border-radius: 3px;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    background: #FC0;
    padding: 0 10px 0 10px;
    color: white;
}

.menu ul li a:hover {
    background: black;
    color: white;
    transition: 500ms;
}

.anadiv {
    margin: 0 auto;

    display: block;

}

.formdiv {
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: cornflowerblue;
    position: relative;
    margin: auto;
    border: solid 3px;
}

.formdiv input {

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

.formdiv input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formdiv input[type=text], input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.icerik {
    width: 600px;
    margin: 0 auto;
    border: solid 1px;
    margin-bottom: 10px;
    justify-content: left;
    display: flex;
    border-radius: 4px;

}

.nick {
    margin: 0 auto;
    position: absolute;
}

.nick a {
    text-decoration: none;
    color: black;
}

.yandiv {

    width: 300px;

    border: solid 1px;
    margin: 10px;
}

.icerik_sol {

    width: 80px;
    height: 80px;
    border: solid 1px;
    margin-top: 22px;
}

.icerik_sag {

    width: 500px;

    margin-left: 5px;
}

h3 {

    margin: 0;
    padding: 0;
}

.icerik_sag ul {

    list-style: none;
}

.icerik_sag li {
    float: left;
    margin-left: 5px;
    padding-top: 0;
    position: relative;
    left: -20px;
    top: -10px;

}

.yorumgor {

    background: #000;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 12px;
    color: #fff;
    transition: 500ms;
    border: solid 1px red;
}

.yorumgor:hover {
    background: #000000;
    color: red;

}

.text {

    border: none;
    margin-top: 40px;
    /*background:#ddd;*/
    padding: 0px;

}

textarea {
    height: 50px;
    width: 500px;

}

.yorum {
    margin: 10px;
    padding: 5px 15px;
    margin-left: 405px;
    border-radius: 4px;
    background: #000;
    color: #fff;
    border: solid 1px red;
    cursor: pointer;
    transition: 500ms;

}

.yorum:hover {
    background: #000000;
    color: red;
}

.profilContainer {
    width: 600px;
    margin: 0px;
    border: solid 1px;
    justify-content: left;
    display: flex;
    border-radius: 4px;
}

.profilResmi {
    width: 80px;
    height: 80px;
    border: solid 1px;
    margin-top: 22px;
}

.profilBilgiler {
    width: 500px;

    margin-left: 5px;
}

.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    padding: 5px;
    background: #000000;
    border: solid #ff0000 1px;
    text-decoration: none;
    transition: 500ms;
}

.btn:hover {
    text-decoration: none;
    color: #ff0000;
    cursor: pointer;
}

.begenionizlenick {
    text-decoration: none;
    color: black;
}

.profilBegeni {
    position: absolute;
    width: 80px;
    margin-top: 5px;
    margin-left: 0px;
}

.paylasimSayfala {
    padding-top: 9px;
    margin: 0 auto;
    height: 23px;
}

.adminicerik {

}